.body {
    background: black;


}

.text {
    color: white
}

.flex {
    display: flex;
    align-items: center;
    height: 200px;
    width: auto;
    position: fixed;
    bottom: 100px;
    left: 50%;
    right: 50px;

}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    margin-left: 100px;
    top: 0px;
}

.rectangle {
    width: 100%;
    height: 100px;
    background: white;
    border-radius: 10px;
}