:root {
    --general-text: #051101;
    --black-text: #000000;
    --accenr-text: #5CBE3A;
}

.body {
    font-family: "Raleway", serif;
    line-height: 1.5;
    color: var(--general-text);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 11;
}

.container {
    max-width: 1176px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* =============================================== */

.header {
    background-color: #EBFFE4;
    margin-bottom: 115px;
    height: 100%;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    margin-bottom: 120px;
}

.header__logo {
    max-width: 94px;
}

.header__logo img {
    width: 100%;
}

.nav__item {
    display: flex;
    gap: 30px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: #000000;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: all .5;
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: var(--transition);
}

.burger-icon span {

    position: relative;
}

.burger-icon span::after,
.burger-icon span::before {
    content: '';
    position: absolute;
}

.burger-icon span::after {
    bottom: -8px;
}

.burger-icon span::before {
    top: -8px;

}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}


.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.button {
    color: #ffffff;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 4px;
    background: var(--accenr-text);
    z-index: 10;
}

.hero {
    margin-bottom: 115px;
}

.hero__inner {
    display: flex;
    gap: 63px;
    justify-content: space-between;
}

.hero__content {
    display: flex;
    flex-direction: column;
    max-width: 425px;
    width: 100%;
}

.hero__slogan {
    font-weight: 600;
    line-height: 1.4;
    font-size: 22px;
    color: var(--accenr-text);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.hero__slogan img {
    padding: 6px 0 0 15px;
}

.hero__title {
    font-size: 61px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 26px;
}

.hero__text {
    margin: 11px 0 15px 0;
}

.hero__text span {
    color: var(--accenr-text);
}

.hero__price {
    margin-bottom: 37px;
    color: var(--accenr-text);
    font-size: 31px;
    font-weight: 700;
    line-height: 1.3;
}

.hero__price span {
    color: #87D16D;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
}

.hero__buttons {
    margin-bottom: 84px;
}

.button_learn {
    color: var(--accenr-text);
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgba(92, 190, 58, 0.3);
    border-radius: 4px;
    margin-left: 30px;
}

.hero__info {
    display: flex;
}

.hero__info-number {
    font-size: 85px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--accenr-text);
    margin-bottom: 6px;
}

.hero__info-text {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.hero__info-review {
    margin-left: 68px;
}

.hero__img {
    position: relative;
}

.line {
    max-height: 140%;
    height: auto;
    position: absolute;
    bottom: 150px;
    right: -445px;
    z-index: 1;
}

.nike-green {
    position: relative;
    bottom: 50px;
    width: 130%;
    z-index: 11;
}

.nike__group {
    display: flex;
    gap: 35px;
    right: -140px;
    bottom: 40px;
    position: absolute;
}

.nike__group-ellipse {
    box-sizing: border-box;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 50%;
    padding: 12px;
    background: #f5f5f5;
}

.nike__group-ellipse:first-child {
    background: #b6e247;
}


@media (max-width: 1400px) {
    .line {
        max-height: 140%;
        top: -385px;
        right: -385px;
    }

    .nike-green {
        width: 120%;
    }

    .nike__group {
        right: -80px;
        bottom: 0px;
    }
}

@media (max-width: 1300px) {
    .line {
        max-height: 135%;
        top: -390px;
        right: -355px;
    }

    .nike-green {
        width: 110%;
    }

    .nike__group {
        right: -30px;
    }
}

@media (max-width: 1200px) {
    .nike__group {
        right: 0px;
    }
}

@media (max-width: 1150px) {
    .hero__inner {
        gap: 30px;
    }

    .hero__img {
        display: flex;
    }

    .line {
        max-height: 135%;
        top: -335px;
        right: -315px;
    }

    .nike-green {
        align-self: center;
    }
}

@media (max-width: 950px) {

    .header__nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 25vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .header__top .button {
        display: none;
    }

    .nav__item {
        flex-direction: column;
        align-items: center;
    }

    .accordion-content {
        gap: 30px;
    }

    .accordion-list__controls {
        padding: 20px 30px;
    }

    .accordion-list__controls-title {
        font-size: 35px;
    }

    .body--opened-menu .header__nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .hero__inner {
        display: block;
        text-align: center;
        justify-items: center;
    }

    .line {
        display: none;
    }

    .nike-green {
        width: 100%;
    }
}

/* ========================================================================== */

.product {
    margin-bottom: 135px;
}

.subtitle {
    color: var(--black-text);
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 26px;
}

.product__text {
    text-align: center;
}

.product__list {
    display: flex;
    gap: 30px;
    margin-top: -50px;
}

.poduct__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__img {
    width: 362px;
    height: 362px;
    border-radius: 50%;
    box-sizing: border-box;
    background: linear-gradient(0.00deg, rgb(92, 190, 58) -33.549%, rgba(92, 190, 58, 0.09) 4.816%, rgba(92, 190, 58, 0) 37%);
    /* padding: 150px 35px 76px; */
    margin-bottom: 20px;
}

.product__img img {
    width: 100%;
    height: auto;
}


.product__name {
    text-align: center;
    color: var(--black-text);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product__rank {
    margin-bottom: 10px;
}

.product__price {
    color: var(--black-text);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 20px;
}

.product__button {
    color: var(--accenr-text);
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1px solid rgba(92, 190, 58, 0.3);
    border-radius: 4px;
    padding: 15px 30px 15px 30px;
    max-width: 150px;
}

/* ============================================================ */

.story {
    display: flex;
    position: relative;
    margin-bottom: 130px;
}

.story__accent-text {
    position: absolute;
    transform: rotate(-90.00deg);
    width: 620px;
    height: 530px;
    top: 0px;
    left: -265px;
    color: #e5f2e1;
    font-size: 218.22px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}

.story__info {
    width: 618px;
    height: 529px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
    text-align: start;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(246, 255, 243);
}

.story__title {
    max-width: 363px;
    text-align: start;
}

.story__text {
    max-width: 272px;
    width: 100%;
}

.story__video {
    position: absolute;
    max-width: 607px;
    max-height: 433px;
    width: 100%;
    height: auto;
    top: 50px;
    right: 0px;
}

.story__video img {
    width: 100%;
    height: 100%;
}

/* ======================================================================= */

.advantage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 170px;
    align-items: center;
    margin-bottom: 136px;
}

.advantage__photo {
    position: relative;
}

.advantage-frame {
    width: 636px;
    height: 568px;
    border: 20px solid #e5f2e1;
    border-radius: 10px;
    margin-left: -163px;
    position: absolute;
    z-index: -1;
}

.advantage__photo-img {
    margin: 40px -113px;
}

.advantage__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.advantage__content {
    background: url(..//img/nike-advantage.svg);

}

.advantage__content img {
    overflow: hidden;
}

/* .advantage__content-img {
    
    position: absolute;
    margin-left: -80px;
} */

.advantage__title {
    text-align: start;
    margin-bottom: 25px;
}

.advantage__item {
    max-width: 440px;
    display: flex;
    gap: 16px;
    align-items: center;
}